# ignore generated html files,
*.exe
*.o
# except foo.html which is maintained by hand
!foo.html
*.class
target/
log.txt
output.txt
.settings
.classpath
.project
*.out
*#
Debug
Release
x64
obj
ipch
*.sdf
*.suo
*.opensdf
*.log
*.dvi
*.aux
*.dll
*.vcxproj
*.vcxproj.filters
CMakeFiles/
*.sln
*.vcxproj.user
*.cmake
CMakeCache.txt
Makefile
*backup
o*.txt
*~
project
out.xml
handOutput.txt
input/
output/
2013/Solution/TestResult.xml
*.vsp
2013/Solution/Main.psess