# ignore generated html files,
*.exe
*.o
# except foo.html which is maintained by hand
!foo.html
*.class
target/
log.txt
output.txt
.settings
.classpath
.project
*.out
*#
Debug
Release
x64
ipch
*.sdf
*.opensdf