<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
    <!-- 
    %d{HH:mm:ss:SSS} %r - 
     -->
      <pattern>%m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>
  
   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>myApp.log</file>
    <append>false</append>
    <encoder>
    <pattern>%d{HH:mm:ss:SSS} %r - %m%n</pattern>
      
    </encoder>
  </appender>
  <!--
  <pattern>%date [%file:%line] %msg%n</pattern> 
  <logger name="com.eric.codejam.multithread" level="OFF"/>
  <logger name="com.eric.codejam.SingleRowSolver" level="OFF" />
   -->
   
   <logger name="codejam.y2008.round_emea" level="INFO"/>
   
   <logger name="codejam" level="INFO"/>
   <logger name="codejam.y2012" level="DEBUG"/>
   <logger name="codejam.y2011" level="DEBUG"/>
   <logger name="ccodejam.y2011aa" level="DEBUG"/>
   
                 
   <logger name="codejam.utils.multithread" level="DEBUG"/>
   <logger name="codejam.utils" level="DEBUG"/>
      <logger name="codejam.utils.main" level="DEBUG"/>
  <root level="${root-level:-DEBUG}">
    <appender-ref ref="console"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>