<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
    <!-- 
    %d{HH:mm:ss:SSS} %r - 
     -->
      <pattern>%m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <filter class="pkr.util.LogFilter">
        <logger>pkr.history.Parser</logger>
        <level>WARN</level>
    </filter>
    <filter class="pkr.util.LogFilter">
        <logger>pkr.history.stats</logger>
        <level>INFO</level>
    </filter>
    <filter class="pkr.util.LogFilter">
        <logger>pkr.history.FlopTurnRiverState</logger>
        <level>INFO</level>
    </filter>
  </appender>
  
   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>C:/codejam/CodeJam/simul/output/log.txt</file>
    <append>false</append>
    <encoder>
    <pattern>%logger %m%n</pattern>
    <!-- <pattern>%d{HH:mm:ss:SSS} %r - %m%n</pattern> -->
      
    </encoder>
    <filter class="pkr.util.LogFilter">
        <logger>pkr.history.Parser</logger>
        <level>INFO</level>
    </filter>
    <filter class="pkr.util.LogFilter">
        <logger>pkr.history.FlopTurnRiverState</logger>
        <level>INFO</level>
    </filter>
    
    <filter class="pkr.util.LogFilter">
        <logger>pkr.history.stats</logger>
        <level>INFO</level>
    </filter>
  </appender>
  
  <appender name="parserLogFile" class="ch.qos.logback.core.FileAppender">
    <file>C:/codejam/CodeJam/simul/output/parserLog.txt</file>
    <append>false</append>
    <encoder>
    <pattern>%logger %m%n</pattern>
    <!-- <pattern>%d{HH:mm:ss:SSS} %r - %m%n</pattern> -->
      
    </encoder>
  </appender>
  
  <appender name="statsLogFile" class="ch.qos.logback.core.FileAppender">
    <file>C:/codejam/CodeJam/simul/output/statsLog.txt</file>
    <append>false</append>
    <encoder>
    <pattern>%logger %m%n</pattern>
    <!-- <pattern>%d{HH:mm:ss:SSS} %r - %m%n</pattern> -->
      
    </encoder>
  </appender>
  
  
  <!--
  <pattern>%date [%file:%line] %msg%n</pattern> 
  <logger name="com.eric.codejam.multithread" level="OFF"/>
  <logger name="com.eric.codejam.SingleRowSolver" level="OFF" />
   -->
   
   
   
   <logger name="main" level="DEBUG"/>
   
   <logger name="pkr.Simulator" level="WARN"/>
   <logger name="poker_simulator.criteria" level="WARN"/>
   
   <logger name="pkr.HoleCardsRange" level="DEBUG">
   </logger>
   
   <logger name="pkr.history.Preprocessor" level="INFO"/>
   
   <logger name="pkr.history.FlopTurnRiverState" level="DEBUG" additivity="true">
    <appender-ref ref="parserLogFile"/>
   </logger>
   <logger name="pkr.history.Parser" level="DEBUG" additivity="true">
    <appender-ref ref="parserLogFile"/>
   </logger>
     
   <logger name="pkr.history.StatsComputer" level="DEBUG" additivity="false">
    <appender-ref ref="statsLogFile"/>
   </logger>
   
   <logger name="pkr.history.Statistics" level="DEBUG" additivity="false">
    <appender-ref ref="statsLogFile"/>
   </logger>
      
   <logger name="pkr.history.stats.Vpip" level="DEBUG" additivity="true">
    <appender-ref ref="statsLogFile"/>
   </logger>
  <root level="${root-level:-ALL}">
    <appender-ref ref="console"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>